.image{
    height: 330px;
    width: 440px;
	overflow: hidden;
}
.image-hover{
    display: none;
    height: 330px;
    width: 440px;
	overflow: hidden;
}
.card-main:hover .image-hover{
    display: block;
}
.card-main:hover .image{
    display: none;
}
