.image{
    /* height: 300px;
    width: 440px; */
	overflow: hidden;
}
.image-hover{
    display: none;
    /* height: 300px;
    width: 440px; */
	overflow: hidden;
}
.card-main:hover .image-hover{
    display: block;
}
.card-main:hover .image{
    display: none;
}

.card-main:hover .description{
    visibility: hidden;
}
.card-main:hover .buttons{
    display: block;
}
