.brand-logo{
    height: 80px !important;
    width: 200px !important;
    filter: grayscale(80%);
}
.brand-logo:hover{
    height: 80px !important;
    width: 200px !important;
    filter: grayscale(0%);
}